body {
    background: #666;
    color: #fff;
}

/* Game */
canvas {
    position: absolute;
    border: 1px solid black;
    background: transparent;
}

#background {
    z-index: -9;
}

#background2 {
    z-index: -7;
}

#background3 {
    z-index: -8;
}

#main {
    z-index: -4;
}

#asteroids {
    z-index: -3;
}

#stationary {
    z-index: -2;
}

#ship {
    z-index: -1;
}

#ui {
    z-index: 0;
}

#loadingBoard {
    position: absolute;
    width: 701px;
    height: 701px;
    line-height: 700px;
    color: #329832;
    font-size: 2em;
    background: black;
    font-family: 'KenvectorFuture';
    text-align: center;
    cursor: default;
}

#scoreBoard {
    display: none;
    position: absolute;
    top: 665px;
    left: 25px;
    color: #329832;
    font-size: 1.5em;
    font-family: 'KenvectorFuture';
    cursor: default;
}

#healthBoard {
    display: none;
    position: absolute;
    top: 665px;
    left: 530px;
    color: #329832;
    font-size: 1.5em;
    font-family: 'KenvectorFuture';
    cursor: default;
}

#powerBoard {
    display: none;
    position: absolute;
    top: 665px;
    left: 270px;
    color: #329832;
    font-size: 1.5em;
    font-family: 'KenvectorFuture';
    cursor: default;
}

.gameOver {
    position: absolute;
    top: 300px;
    left: 270px;
    color: #329832;
    font-size: 2em;
    font-family: 'KenvectorFuture';
    cursor: default;
    display: none;
}

#warp {
    position: absolute;
    top: 100px;
    left: 160px;
    color: #329832;
    font-size: 2em;
    font-family: 'KenvectorFuture';
    cursor: default;
    display: none;
}

.gameOver span {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 30px;
}

.gameOver span:hover {
    color: #55FF55;
}

@keyframes scrollingText {
    0%  {top: -50px; opacity: 0;}
    30% {top: 150px; opacity: 1;}
    70% {top: 150px; opacity: 1;}
    100% {top: 400px; opacity: 0;}
}

@keyframes startAgainText {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#victory {
    position: absolute;
    left: 150px;
    color: #329832;
    font-size: 2em;
    font-family: 'KenvectorFuture';
    cursor: default;
    display: none;
    text-align: center;
    animation-name: scrollingText;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#startAgain {
    position: absolute;
    left: 225px;
    top: 150px;
    color: #329832;
    font-size: 2em;
    opacity: 0;
    font-family: 'KenvectorFuture';
    cursor: default;
    display: none;
    animation-name: startAgainText;
    animation-duration: 3s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

#startAgain span:hover {
    color: #55FF55;
    cursor: pointer;
}

@font-face {
    font-family: 'KenvectorFuture';
    src: url('../asset/font/kenvector_future_thin.ttf');
}

#game {
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    padding: 0;
}

/* Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #329832;
}

nav .active {
    background-color: #444;
}

/* How to play */
table {
    border: 0;
}

td {
    padding: 3px;
    padding-top: 0px;
    vertical-align: top;
}

td .meteor {
    width: 200px;
}

/* About */
#about td {
    width: 30%;
}

.aboutText {
    width: 50%;
    margin-bottom: 50px;
}